<h1>HackerNews 2.0</h1>

<ul>
  <% for post in @posts %>
    <div class = "media">
      <li class = "links"> <%= post.title%> </li>
      <li class="links"><a target="_blank" href="<%= post.link %>">  <%= post.link%> </a> </li> 
      <li class="links"><%= post.date_posted%></li> 
      <%= link_to "comments", post_path(post.id) %>
      <%# <%= post.upvotes%>  
    </div>
  <% end %>  
</ul>