<h1> <%= @post.title%></h1>

<%# link to direct us back home %>


<%= form_with(model: @post, local: true) do |form| %>
    <div class="title-field">
        <%= form.label :comment %>
        <%= form.text_area :comment %>
    </div>

    <div>
    <%= form.submit %>
</div>

<% end %>