<h1> <%= @post.title%></h1>
<%= link_to "home", root_path %>
<a target="_blank" href="<%= @post.link %>">  <%= @post.link%> </a>
<br>


<%= form_with(model: @comment, local: true) do |form| %>
    <div class="title-field">
        <%= form.label :comment %>
        <%= form.text_area :comment %>
    </div>
    <div>
        <%= form.submit "post"%>
    </div>
<% end %>

<br>
<div class="comments">
    <% for comment in @post.comments%>
        <li><%= comment.user.email %>: <%= comment.commentText %></li>
    <% end %>
</div>