<h1> <%= @post.title%></h1>
<%= link_to "home", root_path %>
<a target="_blank" href="<%= @post.link %>">  <%= @post.link%> </a>
<br>


<% if user_signed_in? %>
    <%= form_with(model: @comment, local: true) do |form| %>
        <div class="title-field">
            <%= form.label :comment %>
            <%= form.text_area :comment %>
        </div>
        <div>
            <%= form.submit "post"%>
        </div>
    <% end %>
<% end %>

<br>
<div class="comments">
    <% for comment in @post.comments%>
        <li><%= comment.user.email %>: <%= comment.commentText %></li>
    <% end %>
</div>

<div class="login"> 
    <% if user_signed_in? %>
        <%= link_to "logout", destroy_user_session_path, method: :delete %>
    <% else %>
        <%= link_to "login", new_user_session_path %>
    <% end %>
</div>